/* 
    Document   : global.css
    Created on : Feb 18, 2013, 8:58:01 PM
    Author     : shawnkrecker
    Description:
        Global Look and Feel
*/

body { 
    margin:0;
    padding:0;
    display: block;
    font-family:"Arial";
    font-size:12px;
}

#wrapper{
 
    min-width: 900px;
    height:100%;
    margin: 0 auto;
}

#header{
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    height:100px;
    background-color: #5A90CC;
    background: -webkit-linear-gradient(top, #5a90cc 0%,#6fa3f7 100%);
    
   
    box-shadow: 2px 2px 5px black;
}
h1{
    margin:0;
    padding:10px 10px 10px 10px;
    color:white;
    float:left;
}

h1 a{
    text-decoration: none;
    color:white;
}

#userSignLog{
    float:right;
    padding:15px;
}

#userSignLog a{
    text-decoration: none;
    color:black;   
}

#userSignLog a:hover{
    color:white;
    
}

#navbar{
    clear:both;
    float:right; 
}
#navbar ul{
    list-style-type: none; 
    margin:0;
    padding:0;
    
}

#navbar li{
    float:left;
    text-align: center;
    margin-right:5px; 
}

#navbar a{
    color:white;
    background-color: #85C1FF;
    background: -webkit-linear-gradient(top, #85c1ff 0%,#57a7e5 100%); 
    
    text-decoration: none; 
    width:100px;
    height: 20px;
    padding:7px;
    margin:2px;
    display:block;
}

#navbar a:hover{
    background-color: #42607F;
    background: -webkit-linear-gradient(top, #42607f 0%,#5b81af 100%);
    
}

#content{
    clear:both;
    width:900px;
    margin:0 auto;
    padding:10px;
    height:800px;
    min-width: 900px;
   /* background-color:light;
    */
}
#loginform{
    margin:10px auto;
    
    width:220px;
    height:75px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    border: 2px solid lightskyblue;
}

#submitbutton{
    margin:0 auto;
    width:50px;
    
}

fieldset
        {
          border:1px solid #009;
          background:#eef;
          padding:10px;
          margin:0 0 10px 0;
          display: inline-block;
        }
        
fieldset legend
        {
          border:1px solid #009;
          background:#eef;
          padding:2px 5px;
        }

