/CSC435-HW4/CSC435-HW4-ejb/nbproject/private/
/CSC435-HW4/nbproject/private/
/CSC435-HW4/CSC435-HW4-war/nbproject/private/
/CSC435-HW4/build/
/CSC435-HW4/CSC435-HW4-ejb/build/
/CSC435-HW4/CSC435-HW4-war/build/
/CSC435-HW4/CSC435-HW4-war/dist/
/CSC435-HW4/CSC435-HW4-ejb/dist/
/CSC435-HW4/dist/