/* 
    Document   : style
    Created on : Mar 10, 2013, 2:53:51 PM
    Author     : Ben Gordon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

fieldset
        {
          border:1px solid #009;
          background:#eef;
          padding:10px;
          margin:0 0 10px 0;
          display: inline-block;
        }
        
fieldset legend
        {
          border:1px solid #009;
          background:#eef;
          padding:2px 5px;
        }
body
{
font-family:"Arial";
font-size:12px;
}
